@media (max-width: 1199.99px) {}

@media (max-width: 991.99px) {
    .nav {
        position: relative;
    }

    .nav__search input {
        display: none;
        /* width: 100%;
        position: absolute;
        height: 100%;
        border: none;
        top: 0;
        left: 0; */
    }

    .nav__search button {
        height: 30px;
        width: 30px;
    }

    .nav__list {
        position: absolute;
        flex-direction: column;
        background-color: white;
        top: 100%;
        right: 0;
        width: 100%;
        max-width: 200px;
        padding: 20px;
    }

    .dropdown__item img {
        order: -1;
        margin-right: auto;
    }

    .dropdown__list {
        z-index: 5;
        left: -175px;
    }
}

@media (max-width: 767.99px) {

}

@media (max-width: 575.99px) {}